urllib3>=1.26.5,<3

jupyter
ipykernel
notebook
tqdm

requests
types-requests
randomname


numpy
scikit-learn
torch

minsearch
elasticsearch==8.13.0
qdrant-client[fastembed]>=1.14.1
openai

polars
pandas

transformers

