urllib3>=1.26.5,<3

dotenv

jupyter
ipykernel
notebook
tqdm

requests
types-requests
randomname

numpy

polars
pandas

scikit-learn
torch
transformers

cognee
dlt
dlt[duckdb]
dlt[qdrant]
elasticsearch==8.13.0
kuzu
minsearch
openai
qdrant-client[fastembed]>=1.14.1
neo4j
